{% extends 'base.html' %}
{% block navigation %}
  <!-- Sidebar -->
  <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <h1 class="navbar-brand navbar-brand-autodark">
        <i class="bi bi-app-indicator"></i>
        <span>POS SYSTEM</span>
      </h1>
      <hr>

      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav pt-lg-3">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="bi bi-house"></i>
              </span>
              <span class="nav-link-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exampletocopy">
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <i class="bi bi-table"></i>
              </span>
              <span class="nav-link-title">Example to Copy</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
{% endblock %}
